head{
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}
h1{
    font-size: 500%;
    font-style: italic;
    color: bisque;
}
ol{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 197, 137);
    
}
p{
    font-weight: bold;
}
body{
    background-color: rgb(29, 28, 28);
    color: bisque;
}
a{
    color: aliceblue;
}
a:visited{
    color: rgb(100, 218, 245);
    font-style: italic;
}
a:hover{
    font-size: larger;
}
div{
    font-size: 300%;
    color: rgb(183, 204, 223);
    text-align: center;
}
.tab{
    border: 5px solid rgb(239, 232, 232);
    margin: 5px;
    padding: 5px;
    display: inline-block;
}
.fav{
    color: azure;
    border: 10px solid rgb(254, 218, 224);
    font-style: italic;
    font-weight: 900;
    font-size: 300%;
}
.pink{
    color: pink;
    font-family: cursive;
    font-size: 300%;
}
.center{
    font-style: oblique;
    font-family: fantasy;
    font-weight: 200;
    color: rgb(203, 240, 228);
}
.not{
    text-align: left;
}